<%= form_tag students_path do %>
  <label>Student Form:</label><br>
  First Name:<input type="text" id="student_first_name"name="student[first_name]"><br>
  Last Name:<input id="student_last_name" name="student[last_name]"></input><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" value="Submit Student">
  <% end %>
